/* ===============
    CSS Reset
 ================= */
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0
}

/* ==================
    Formatação geral
 ===================== */

html {
  font-size: calc(10px + 1vw);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #21243d;
}

html body a {
  text-decoration: none;
  color: black;
}

/* ==================
   Formatação do Topo da Página;
 ===================== */

header {
  margin: 0 5vw 3vw 5vw
}


header nav ul {
  display: flex;
  justify-content: right;
}

header nav ul li {
  margin: 2vw 10px 0 10px;
}

header nav ul li.pagAtual a {
  color: #ff6464;
}

/* ==================
   Formatação do Topo da Página;
 ===================== */

main.works {
  margin: 0 20vw 0 20vw;
}

main.works section {
  border-bottom: 1px solid #e0e0e0;
  padding: 2vw 0 2vw 0;
}

main.works section p {
  margin: 1vw 0 1vw 0;
}

main.works section span {
  color: white;
  background-color: #ff6464;
  border-radius: 20px;
  padding: 3px 14px 3px 14px;
  font-weight: bold;

}


main.works section:last-child {
  border: none;
  ;
}


/* ==================
   Formatação do Rodapé;
 ===================== */

footer {
  text-align: center;
  padding: 1vw 0 2vw 0;
  font-size: medium;
}

footer nav ul{
  display: flex;
  justify-content: center;
}
footer nav ul li {
  margin: 0 10px 0 10px;
  font-size: 2rem;
}

footer nav ul li a span {
  color: #21243d;
}