/* ===============
    CSS Reset
 ================= */
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0
}

/* ==================
    Formatação geral
 ===================== */

html {
  font-size: calc(10px + 1vw);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #21243d;
}

html body a {
  text-decoration: none;
  color: black;
}

main {
  margin: 0 10vw 0 10vw;
}

/* ==================
   Formatação do Topo da Página;
 ===================== */

header {
  margin: 0 5vw 3vw 5vw
}


header nav ul {
  display: flex;
  justify-content: right;
}

header nav ul li {
  margin: 2vw 10px 0 10px;
}

header nav ul li.pagAtual a {
  color: #ff6464;
}

/* ==================
   Formatação Works;
 ===================== */

main.works section {
  border-bottom: 1px solid #e0e0e0;
  padding: 3vw 0 0.3vw}

  section.banner button {
    font-size: 0.7rem;
    background-color: #ff6464;
    border-radius: 2px;
    padding: 15px 15px 15px 15px;
    color: #ffff;
    border: none;;
}

main.works section p {
  margin: 1vw 0 1vw 0;
}

main.works section span {
  color: white;
  background-color: #ff6464;
  border-radius: 20px;
  padding: 3px 14px 3px 14px;
  font-weight: bold;

}


main.works section:last-child {
  border: none;
  ;
}

/* ==================
   Formatação Home Page;
 ===================== */

section.banner {
  display: flex;
  margin: 6vw 0 3vw 0;
}

section.banner p {
  font-size: 1rem;
  padding: 3vw 1vw 2vw 0;
}

section.banner button {
  font-size: 0.7rem;
  background-color: #ff6464;
  border-radius: 2px;
  padding: 15px 15px 15px 15px;
  color: #ffff;
  border: none;
}

section.rt-post {
  background-color: #8695A4;
  padding: 2vw 1vw 2vw 5px
}


section.rt-post ul {
  margin: 0 1vw 0 1vw;
  display: flex;
}

section.rt-post ul li {
  background-color: white;
  padding: 1vw 3vw 1vw 3vw;
  margin: 0 2vw 0 0;
}

section.rt-post ul li:last-child {
  margin: 0;
}

section.rt-post ul li p {
  margin: 0.7vw 0 0.7vw 0 ;
  font-size: 0.8rem;
}

section.rt-post ul li h3 {
  font-size: 1rem;
  margin: 1vw 1vw 1.5vw 0;
}

section.rt-post h2 {
  font-weight: normal;
  margin: 0 0 1vw 0;
}

section.ft-works h2 {
  font-weight: normal;
  margin: 1.3vw 0 1.3vw 0;
}

section.ft-works > div {
  display: flex
}

section.ft-works div h3 {
  margin: 1vw 0 1vw 0;
}

section.ft-works div div {
  margin: 0 1vw 0 1vw;
}

section.ft-works div div p {
  margin: 1vw 0 1vw 0;
  font-size: 0.8rem;
}

.ft-works-texts{
  color: #8695a4;
}


section.ft-works div div span {
  color:white ;
  padding: 3px 14px 3px 14px;
  margin: 0 3px 0 3px;
  background-color: #21243d;
  border-radius: 20px;
  font-weight: bold;
}

section.ft-works {
  font-size: 1rem;
}


/* ==================
   Formatação do Rodapé;
 ===================== */

footer {
  text-align: center;
  padding: 2.8vw 0 2vw 0;
  font-size: medium;
}

footer nav ul {
  display: flex;
  justify-content: center;
}

footer nav ul li {
  margin: 0 10px 0 10px;
  font-size: 1.4rem;
}

footer nav ul li a span {
  color: #21243d;
}